body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: gray;
    position: relative;
    margin: 0%;
    font-size: 0px;
    font-family: 'Raleway', sans-serif;
}

.headerContainer {
    position: relative;
    width: 100%;
    height: 3%;
    min-width: 300px;
}

.preGameScreen {
    height: 100%;
    width: 100%;
    min-width: 300px;
}

.headerContainer h1 {
    width: 100%;
    height: 70%;
    text-align: center;
    color: pink;
    font-size: 8vh;
    min-width: 300px;
}

h2 {
    position: relative;
    text-align: center;
    color: pink;
    font-size: 50px;
}

.h1Span,
.boardSizeSpan,
.winningOptionSpan {
    color: lightblue;
}

.boardSizeSpan,
.winningOptionSpan {
    font-style: bold;
}

.gameBoardContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    width: 33.33%;
    height: 60%;
    min-width: 300px;
    background-color: white;
    border-radius: 10px;
}

.selectBoardSizeHeader {
    position: relative;
    display: inline-block;
    right: 3%;
    top: 30%;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 3vh;
}

.selectBoardSize,
.selectWinningCounter {
    position: relative;
    display: inline-block;
    left: 40%;
    top: 30%;
    width: 20%;
    height: 10%;
    font-size: 1rem;
}

.hidden {
    display: none;
}

option {
    position: relative;
    display: inline;
    text-align: center;
    font-size: 50%;
}

button {
    display: inline-block;
    position: relative;
    left: 40%;
    top: 30%;
    margin-top: 5%;
    width: 20%;
    height: 10%;
    border-radius: 5px;
    background-color: pink;
    font-size: 1rem;
}

button:hover {
    background-color: lightblue;
}

.statusContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: 33.33%;
    background-color: white;
    border-radius: 5px;
    min-width: 300px;
}

.currentMessage {
    height: 35%;
    width: 100%;
    font-size: 5vh;
    text-align: center;
    padding-top: 3.5vh;
}

.statusContainer>div:nth-child(2) {
    display: inline-block;
    height: 50%;
    width: 100%;
}

.statusContainer>div:nth-child(2) div {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    font-size: 3vh;
}

.player1Name,
.player2Name,
.drawsClass {
    text-decoration: underline;
}

#player1Wins,
#player2Wins,
#draws {
    font-size: 3vh;
    margin: 0;
    text-align: center;
    padding-bottom: 2vh;
}

.row {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 31%;
}

.square {
    display: inline-block;
    background-color: pink;
    text-align: center;
    height: 100%;
    border-radius: 5px;

  }
  .square:hover {
    background-color: lavender;
  }

  .drawnLine{
    transform-origin: 100% 0%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
